body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#cover-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: #ffffff;
}
  
.navbar {
    background-color:rgb(7, 1, 65);
    color: white;
    box-shadow: 0 4px 6px rgba(66, 68, 66, 0.5); 
}
.navbar h1{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 5%;
}
  
.hero {
   display: block;
   gap: 5px;
   text-align: center;
}
  
.hero h1 {
    font-size: 2.3rem;
}
  
.hero p {
    font-size: 1.2rem;
    margin-left: 5%;
}
#Image {
    margin: 5% 15px;
    height:420px; 
    border-top: #ffc400 solid 5px;
    border-bottom: #ffc400 solid 5px;
}
#Image img{
    margin: 10px 0px;
}
#start-button {
    padding: 1rem 2rem;
    background-color: #ffc400;
    color: black;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 5%;
}  
#start-button:hover {
    background-color: #faa404;
}
.footer p{
 text-align: center;
 font-size: 15px;

}
.mainPage{
    display: block;
}
.sidebar{
    background-color: rgb(5, 1, 41); 
    width: 100%; 
    height: 40vh; 
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}
.sidebar h1{
    font-size: 1.5rem;
    color: white;
    margin: 30px 0px; 
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar li {
    color: #fff; 
    font-size: 1rem; 
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.step-number {
    margin-top: 10px;
    color: #fff;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0.9rem;
}
.resumeprogress {
    height: 12px; 
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
}

.progress {
    height: 100%;
    width: 0%; 
    background-color: #faa404; 
    border-radius: 5px;
    transition: width 0.4s ease; 
}
.container{
    margin-left: 3%;
    margin-right: 3%;
}
#card{
    display: flex;
    border: 2px solid #222121;
}
#heading{
    display: none;
}
h1{
    text-align: center;
    font-weight: bold;
}
#form-page {
    display: none;
    background-color: #fff;
  }
  
.hidden {
    display: none;
}
#resumeDisplay { 
    margin: 20px auto;
}
#profileImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:2px solid #ffcf0f;
    margin: 5% auto;
}
.personalInfo h1{
    margin:5px auto;
    text-align: center;
}
.personalInfo h4{
    margin:5px auto;
    text-align: center;
    font-size: 15px;
}
.personalInfo h1 strong{
    font-size: 20px;
}
.personalInfo strong{
    font-size: 15px;
    margin-left: 5px;
}
.personalInfo p{
    font-size: 12px;

}
.card{
    display: block;
    border: #222121 1px solid;
}
.left-side{
    background-color: #030033;
    color: white;
    width: 100%; 
    height: auto; 
    top: 0;
    left: 0;
    padding: 10px;
}
.about h3{   
    font-size: 25px;
    color: #030033;
    margin-left: 5px;
}
.about p{
    margin-left: 5px;
    font-size: 15px;
}

.secondSection {
    width: 100%; 
    padding: 10px;
}
.secondSection h2 {
    color: rgb(0, 0, 0); 
    font-size: 25px;
    margin-bottom: 15px;
}

.secondSection p {
    color: #020202; 
    margin: 10px;
    line-height: 1.4rem;
    font-size: 15px;
}

.experienceDisplay strong {
    color: #000000;
    font-size: 15px;
}

.contactSection{
    margin-top: 30px;
}
.contactSection h2{
    margin-bottom: 20px;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffd103; 
    color: rgb(255, 255, 255); 
    font-weight: 600;
}
.contactSection p{
   margin-top: 10px;
   font-size: 14px;
}
.skills-container {
    margin-top: 30px;
    color: #ffffff; 
}

.skills-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffd103; 
    color: white; 
    font-weight: 600;
}

.skills-list { 
    gap: 6px;
    padding: 0;
}

.skills-list li {
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
}


.experienceAndEducationDisplay h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #030033;
    margin-left: 5px;
} 
.experienceAndEducationDisplay h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #030033;
    margin-left: 5px;margin-bottom: 10px;
    font-size: 28px;
    color: #030033;
    margin-left: 5px;
}
.form-container {
    margin: 40px 15px;
}

form h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 7%;
    text-align: center;
}

form p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
    margin-bottom: 5%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

.form-section {
    display: block;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
}

input::placeholder {
    color: #aaa;
}

form button {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ffc400;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto; margin-right: auto;
}

form button:hover {
    background-color: #faa404;
}

#skills{
    margin: 10px auto;
}
.skills-input {
    margin: 10px 2px;    
}
#generateButton{
    position: relative;
    width: 100%;
    margin: 5% auto; 
    padding: 10px 5px;
    background-color: #ffc400; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

#image {
    border-radius: 50%;
    border:2px solid #ffcf0f;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 2%;
}
@media(min-width:768px){
    .hero{
        display: flex;
        text-align: left;
    }
    .hero h1 {
        margin-top: 20%;
       width: 80%;
       margin-left: 5%;
       text-align: left;
    }
    .hero p {
        margin-left: 5%;
    }
    #Image {
        height:420px; 
    }
    #Image img{
        margin: 10px 0px;
    }
    #start-button {
        padding: 1rem 2rem;
        margin-left: 5%;
    }  
    .mainPage{
        display: flex;
    }
    .sidebar{
        width: 240px; 
        height: 100vh; 
        position: fixed; 
    }
    .form-container {
        margin-right: 8%;
        position: relative;
        width:600px;
        margin: 10px auto;
        padding: 0px;
    }
    .form-section {
        display: flex;
    }
    form h2 {
        text-align: left;
    }
    
    form p {
        text-align: left;
    }
   
    #skills{
        margin: 10px 0;
    }
    form button {
      width: 30%;
        margin-left: 0; 
        margin-right: 0;
    }
    #nextStep{
        width: 30%;
        margin-left: 0; 
        margin-right: 0;
    }
    .card{
        display: flex;
    }
    .left-side{
        width: 240px; 
        height: auto; 
    }
    #resumeDisplay { 
        margin: 20px auto;
        width: 1000px;
    }
}
@media(min-width:1024px){
    .form-container {
        width:600px;

    }
}

  